*{
    margin: 0; /*did not really understand why here, found online*/
}
body{

    background-image:url("../images/back.jpg");
    margin: 0 auto; 
    }

header {
    background-color: #ffffff; 
    border-style: solid;
    border-width: 0px 0px 1.5px 0px; 
    border-color: #cccccc; 
    position: relative;
    padding: 20px;    
}

.myName {    
    background-color: #4aaaa5; 
    color: white; 
    width: 190px;
    text-align: center;   
    font-family: Georgia, 'Times New Roman', Times, serif;  
    position: absolute;  
    bottom: 0px; 
    top: 0px; 
    left: 200px;  
    padding: 20px; 
}

.clearfix::after {

   content: "";
   display: block; 
   clear: both;
   overflow: auto;
}
/* Here I style the bar Navigation */
ul.nav, li {
 
    list-style-type: none;
    text-align: center;
    color: #777777;  
    margin: 0 auto;
    display: inline;               
}
ul.nav {
    float: right;
    margin-right: 180px; 
    
}
li a {  
    border-right:1px solid #bbb;
    text-decoration: none;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;; 
    padding: 8px;              
}
nav.last-child {
    border-right: none;
}


section.content{
    background-color:#ffffff;
    width: 960px;  
    margin: 0 auto;  
    border: 1px solid #dddddd;
    margin-top: 40px; 
    margin-bottom: 100px; 
}
h1{
    border-bottom: 3px solid #dddddd; 
    padding: 20px;
    color: #4aaaa5; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

div.form{
    padding:20px; 
}

p.paragraph{
    padding-top: 20px; 
    font-size: larger;    
    
}
img.myPic {
    float: left;
    padding: 10px;     
}
div.clearfix{
    overflow: auto; 
}
.form{
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
       
}
.inputElement {
    width: 900px;  
    padding: 5px; 
}
.button {

    background-color: #4aaaa5;
    border: none; 
    size: larger; 
    padding: 15px 20px;
    color: #ffffff;
    font-size: 18px; 
}
/*Here I style the images on the Portfolio.html */

div.img1{
    position: relative;
    width: 250px;
    margin: 20px ;
    overflow: auto;
    float:left; 
    
}
div.img1 h3{
    background-color: #4aaaa5; 
    position: absolute;
    bottom: 20px;
    width: 225px;
    padding: 15px 0;
    margin-bottom: 0;
    text-align: center;
    color: white; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}


div.img2{
    position: relative;
    width: 250px;
    margin: 20px ;
    overflow: auto;
    float: none;
    left: 20px;

}
div.img2 h3 {
    background-color:  #4aaaa5; 
    position: absolute;
    bottom: 20px;
    width: 225px;
    padding: 15px 0;
    margin-bottom: 0;
    text-align: center;
    color:white; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}


div.img3{
    position: relative;
    width: 250px;
    margin: 20px ;
    overflow: auto;
    float: left;

}
div.img3 h3 {
    background-color:  #4aaaa5; 
    position: absolute;
    bottom: 20px;
    width: 225px;
    padding: 15px 0;
    margin-bottom: 0;
    text-align: center;
    color:white; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

div.img4{
    position: relative;
    width: 250px;
    margin: 20px ;
    overflow: auto;
    float: left;

}
div.img4 h3 {
    background-color:  #4aaaa5; 
    position: absolute;
    bottom: 20px;
    width: 225px;
    padding: 15px 0;
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}


div.img5{
    position: relative;
    width: 250px;
    margin: 20px ;
    overflow: auto;
    float: left;
    clear: both; 

}
div.img5 h3 {
    background-color:  #4aaaa5; 
    position: absolute;
    bottom: 20px;
    width: 225px;
    padding: 15px 0;
    margin-bottom: 0;
    text-align: center;
    color:white; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    
}
/*Sticky footer*/
footer {
    margin-top: 50px; 
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    padding-top: 50px; 
    color: #beb8b8;
    position: fixed;    
    left: 0;
    bottom: 0;
    width: 100%;
}